/.DS_Store
/DiffusionEmotion_S_cropped
/DiffusionFER
/DiffusionFER.zip
/MultiEmoVA
/MultiEmoVAData.zip
/Real-time Affective State Recognition.pdf
/data.csv
/dataset_sheet.csv
/multi_csv_files
/original
/res.csv
/ruff.py